In [2]:
import pandas as pd

In [3]:
heart = pd.read_csv("https://raw.githubusercontent.com/The-AI-ReDI-School-team/heart_attack_ml/main/data/heart.csv")

# Analysis

In [4]:
heart.isna().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [5]:
heart.output.describe()

count    303.000000
mean       0.544554
std        0.498835
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: output, dtype: float64

In [6]:
heart.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Model Training

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = heart.iloc[:,0:-1]
y = heart.iloc[:,-1]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [21]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [22]:
clf.score(X_train,y_train)

0.8726415094339622

In [23]:
clf.score(X_test,y_test)

0.8131868131868132

###### Trained RandomForest classifier scored 81% on test data

# Tuning the hyperparameters

In [24]:
from sklearn.model_selection import RandomizedSearchCV

In [30]:
parameters = {
    'n_estimators'      : [10, 15, 50],
    'max_depth'         : [2, 3, 4, 10],
    'random_state'      : [0],
    #'max_features': ['auto'],
    #'criterion' :['gini']
}

In [31]:
RS = RandomizedSearchCV(clf, parameters, random_state=0)
RS.fit(X_train, y_train)

RandomizedSearchCV(estimator=RandomForestClassifier(max_depth=2,
                                                    random_state=0),
                   param_distributions={'max_depth': [2, 3, 4, 10],
                                        'n_estimators': [10, 15, 50],
                                        'random_state': [0]},
                   random_state=0)

In [32]:
RS.score(X_train, y_train)

0.8773584905660378

In [33]:
RS.score(X_test, y_test)

0.8241758241758241

# tuning of the hyperparameters and discovered some overfitting